<div class="relative isolate px-6 pt-14 lg:px-8">
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base font-semibold leading-7 text-cyan-600">Meet our Teachers</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">We're a group of Ironhack alumni</p>
        <p class="mt-6 text-lg leading-8 text-gray-600">We're able to provide top-notch instruction because we know the difficulties of each challenge, whether JavaScript, Node, MongoDB, or React.</p>
      </div>
    </div>
  </div>
</div>

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl py-12 sm:py-12 lg:max-w-none lg:py-16">
    <h2 class="text-2xl font-bold text-gray-900">Our Teachers</h2>

    <div class="mt-6 space-y-12 lg:grid lg:grid-cols-2 xl:grid-cols-4 lg:gap-x-6 lg:space-y-0">
      <div class="group relative">
        <div class="relative h-96 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75">
          <img src="/images/francis2.jpg" alt="Francis profile." class="h-full w-full object-cover object-center">
        </div>
        <h3 class="mt-6 text-sm text-gray-500">
          <a href="https://www.linkedin.com/in/francis-iwu-878973238/">
            <span class="absolute inset-0"></span>
            Backend Teacher
          </a>
        </h3>
        <p class="text-base font-semibold text-gray-900">Francis Iwu</p>
      </div>
      <div class="group relative">
        <div class="relative h-96 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75">
          <img src="/images/abdullah.jpg" alt="Abdullah profile." class="h-full w-full object-cover object-center">
        </div>
        <h3 class="mt-6 text-sm text-gray-500">
          <a href="https://www.linkedin.com/in/abdullah-baig-186856200/">
            <span class="absolute inset-0"></span>
            Backend Teacher
          </a>
        </h3>
        <p class="text-base font-semibold text-gray-900">Abdullah Baig</p>
      </div>
      <div class="group relative">
        <div class="relative h-96 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75">
          <img src="/images/stephen.jpg" alt="Stephen profile." class="h-full w-full object-cover object-center">
        </div>
        <h3 class="mt-6 text-sm text-gray-500">
          <a href="https://www.linkedin.com/in/stephen-sandlin/">
            <span class="absolute inset-0"></span>
            Frontend Teacher
          </a>
        </h3>
        <p class="text-base font-semibold text-gray-900">Stephen Sandlin</p>
      </div>
      <div class="group relative">
        <div class="relative h-96 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75">
          <img src="/images/alexandra.png" alt="Alexandra profile." class="h-full w-full object-cover object-center">
        </div>
        <h3 class="mt-6 text-sm text-gray-500">
          <a href="https://www.linkedin.com/in/alexandra-vasinova-assoc-cipd-819178195/">
            <span class="absolute inset-0"></span>
            API Teacher
          </a>
        </h3>
        <p class="text-base font-semibold text-gray-900">Alexandra Vasinova</p>
      </div>
    </div>
  </div>
</div>

    <div class="h-40"></div>
