<div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="bg-white py-24 sm:py-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
<div class="aspect-video overflow-hidden rounded-lg">
    <iframe
      class="w-full h-full"
      src="https://www.youtube.com/embed/{{myVideo}}"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
</div>
  </div>
</div>
